﻿@using System.Globalization;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ColmanNews</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/articleIndex.css" />
    <link rel="stylesheet" href="~/css/articleCreate.css" />
    <link rel="stylesheet" href="~/css/articleEdit.css" />
    <link rel="stylesheet" href="~/css/articlesDetails.css" />
    <link rel="stylesheet" href="~/css/weather.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />



</head>
<body>
    <div class="col">
        <header>
            <nav class="upper-navbar" style="height: 55px">
                <div class="left">
                    <div class="dropdown">
                        <button class="more-features-btn navbar-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            More
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @{if (this.User.IsInRole("Admin"))
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Index">Management</a>
                                }}
                            @{if (this.User.IsInRole("Reporter"))
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Articles" asp-action="Index">Your Smurticles</a>
                                } }
                            <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                        </div>
                    </div>
                </div>
                <div class="middle">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    @DateTime.Today.ToString("D", CultureInfo.CreateSpecificCulture("en-US"))
                    <div id="social-media" style="float: right; display: block;">
                        <span>
                            <a href=https://www.facebook.com/Smurf-News-110024000913635/?ref =page_internal>
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="right" id="upper-nav-right">
                    <div id="search-articles" style="padding: 2rem 2rem;display:none;">
                        <div class="container">
                            <form asp-controller="Genres" asp-action="Search">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row justify-content-end align-items-center">
                                            <div class="col-lg-3 col-md-3 col-sm-12">
                                                <input name="searchTerm" id="search-articles-input" type="text" class="form-control search-slt" placeholder="Smurticle Title" />
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <select class="form-control search-slt" id="reporterSelect" name="reporterUsername">
                                                    <option value="@null" selected>Reporter Smurf</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <select class="form-control search-slt" id="genreSelect" name="genreId">
                                                    <option value="@null" selected>Smurticle Genre</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-12 p-0">
                                                <button class="btn btn-info" type="submit">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <button onclick="toggleSearch()" class="more-features-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-search" id="search-icon" aria-hidden="true" style="margin-right: 3px;"></i>
                        Search
                    </button>
                </div>
            </nav>
        </header>
        <div class="nav-logo">
            <img width="50" style="float: left; margin-top: 5px;" src="~/images/nav.png" />
            <a asp-area="" class="headlinee" asp-controller="Articles" asp-action="Home">Smurfs News</a>
        </div>
        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="most-commented">
                        <div class="sidebar-widget">
                            <div class="widget-title-cover">
                                <h4 class="widget-title">
                                    <span>Most Comments</span>
                                </h4>
                            </div>
                            @for (int i = 1; i <= 4; i++)
                            {
                                <div>
                                    @i.
                                    <span id="most-commented-article-num-@i">
                                    </span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="widget-title-cover">
                        <h4 class="widget-title">
                            <span>Latest Smurticles</span>
                        </h4>
                    </div>
                    @for (int i = 1; i <= 3; i++)
                    {
                        <div>
                            @i.
                            <span id="latest-article-num-@i">
                            </span>
                        </div>
                    }
                </div>
                <div class="col-6">
                    <form>
                        <div class="row justify-content-center">
                            <label class="form-control-label">Weather in... </label>
                            <div>
                                <select onchange="getWeatherDetails(this.value, this.options[this.selectedIndex].text)" id="select-country">
                                </select>

                            </div>

                        </div>
                    </form>

                    <div class="card card-weather">
                        <div class="card-body">
                            <div class="weather-date-location">
                                <h3>@DateTime.Today.DayOfWeek.ToString()</h3>
                                <p class="text-gray">
                                    <span class="weather-date">@DateTime.Today.ToString("m", CultureInfo.CreateSpecificCulture("en-US"))</span>
                                    ,<span class="weather-location" id="current-location"></span>
                                </p>
                            </div>
                            <div class="weather-data d-flex">
                                <div class="mr-auto">
                                    <h4 class="display-3" id="todays-weather"><span class="symbol">°</span>C</h4>
                                    <p id="todays-weather-description"></p>

                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="d-flex weakly-weather">
                                @for (int i = 1; i < 7; i++)
                                {
                                    DateTime currDay = DateTime.Today.AddDays(i);
                                    <div class="weakly-weather-item">
                                        <p class="mb-0"> @currDay.DayOfWeek.ToString() </p>
                                        <p class="mb-0" id="daily-weather-@i"></p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer style="height:0px;" class="border-top footer text-muted">
            <div class="container">
                <center>
                    <p>© Copyright 2020 Smurfs News, All rights reserved.</p>
                </center>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/d3/d3.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // Upper navbar search
        function toggleSearch() {

            // Toggle search box
            if (document.getElementById("search-articles").style.display === "none") {
                document.getElementById("search-articles").style.display = "block";
                document.getElementById("upper-nav-right").style.borderLeft = "none";
                document.getElementById("social-media").style.display = "none";
                $("#search-icon").removeClass();
                $("#search-icon").addClass("fa fa-times")
            } else {
                document.getElementById("search-articles").style.display = "none";
                document.getElementById("social-media").style.display = "block";
                document.getElementById("upper-nav-right").style.borderLeft = "1px solid";
                $("#search-icon").removeClass();
                $("#search-icon").addClass("fa fa-search")
            }
        }
    </script>
    <script>
        // Upper navbar search
        function renderGenresInSearch() {
            $.get("/Genres", (genres) => {
                for (genre of genres) {
                    $("#genreSelect").append("<option value=" + genre.id + ">" + genre.name + "</option>")
                };
            });
        }
        renderGenresInSearch()

        function renderReportersInSearch() {
            $.get("/Reporters", (reporters) => {
                for (reporter of reporters) {
                    $("#reporterSelect").append("<option value=" + reporter.username + ">" + reporter.firstName + " " + reporter.lastName + "</option>")
                };
            })
        }
        renderReportersInSearch()
    </script>
    <script>
        // Footer weather

        // --- Functions ---
        const getWeatherDetails = async (realCity, smurfsCity) => {
            $("#current-location").html(smurfsCity);

            // Get lat & lon for location - then get forcasts
            const { lat, lon } = (await $.get("https://nominatim.openstreetmap.org/search?q=" + realCity + "&format=json"))[0]
            const dayForcasts = (await $.get("https://api.openweathermap.org/data/2.5/onecall?lat=" + lat + "&lon=" + lon + "&exclude=current,hourly,minutely,alerts&units=metric&appid=b067b19b9407f031ee99deb34d27e70d")).daily

            // Insert data to html
            $("#todays-weather").html("<span>" + Math.floor(dayForcasts[0].temp.day) + "<span class='symbol'>°</span>C</span>");
            $("#todays-weather-description").html(dayForcasts[0].weather[0].main)
            for (var i = 0; i < dayForcasts.length; i++) {
                $("#daily-weather-" + i).html("<span>" + Math.floor(dayForcasts[i].temp.day) + "<span class='symbol'>°</span>C</span>");
            }
        }

        const fillCityOptions = () => {
            $.get("/Cities", (cities) => {
                for (var i = 0; i < cities.length; i++) {

                    $('#select-country')
                        .append($("<option></option>")
                            .attr("value", cities[i].realCity)
                            .attr("data-tokens", cities[i].realCity)
                            .text(cities[i].smurfsCity));

                }

                getWeatherDetails($("#select-country").val(), $("#select-country option:selected").text())
            })
        }

        $(document).ready(function () {
            fillCityOptions();
        })

    </script>
    <script>
        // Footer
        function renderMostCommented() {
            $.get("/MostCommented", (articles) => {
                articles = articles.slice(0, 4)
                for (var i = 1; i <= articles.length; i++) {
                    var article = articles[i - 1];
                    $("#most-commented-article-num-" + i).html(" <a href='/Articles/Details?id=" + article.id + "'><strong>" + article.title + "</strong></a>")
                };
            });
        }
        renderMostCommented()

        function renderLatestArticles() {
            $.get("/MostRecent", (articles) => {
                articles = articles.slice(0, 3)
                for (var i = 1; i <= articles.length; i++) {
                    var article = articles[i - 1];
                    $("#latest-article-num-" + i).html(" <a href='/Articles/Details?id=" + article.id + "'><strong>" + article.title + "</strong></a>")
                };
            });
        }
        renderLatestArticles()
    </script>
    @RenderSection("Scripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
