﻿@model IEnumerable<eCommerce.Models.Genre>

@{
    ViewData["Title"] = "Main Page";
    var genresToCountDictionary = (Dictionary<int, int>)ViewBag.genresToCountDictionary;
}


<style>
    .genre-title {
        background: #1976d2;
        color: white;
        padding: 5px;
        margin-bottom: 3px;
        padding-left: 8px;
        text-decoration: none;
        font-size: 18px;
        border-radius: 6px;
    }

    .article-image {
        float: left;
        margin-right: 15px;
        margin-left: 5px;
        margin-top: 5px;
    }

    .article-title {
        margin: 0px;
        text-decoration: none;
        font-size: 25px;
        display: block;
    }

    .article-div {
        height: 80px;
        background: #bbdefb;
        border-radius: 10px;
        margin-bottom: 3px;
    }

    .article-content {
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        margin-top: 4px;
    }
</style>


<video style="background-color: black !important;" width="100%" height="400px" loop autoplay>
    <source src="../images/smurf.mp4" type="video/mp4">
    Your browser does not support HTML video.
</video>

@foreach (var genre in Model)
{
    <table class="table">
        <div class="genre-title">
            <span>@Html.DisplayFor(modelItem => genre.Name)</span>
            <a style="color: #e3f2fd; font-size: 10px;" asp-action="Details" asp-route-id="@genre.Id">See all @Html.DisplayFor(modelItem => genre.Name) articles (@genresToCountDictionary.GetValueOrDefault(genre.Id, 0))</a>
        </div>
        
            @foreach (var article in genre.Articles.Take(3))
            {
            <a style="text-decoration: none; " asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                <div class="article-div">
                    <img class="article-image" height="70" src="~/images/genres/@(genre.Name + ".png")" />
                    <p class="article-title">@Html.DisplayFor(modelItem => article.Title)</p>
                    <p class="article-content">@article.Content </p>
                </div>
            </a>
            }

            
            


    </table>
}

@section Scripts {
    <script>
        // --- Functions ---
        const setOnPostComment = () => {
            $("#btnPostComment").click(() => {
                postComment($("#commentContent").val());
            });
        };

        // --- END Functions ---

        setOnPostComment();
    </script>
}
