﻿@model eCommerce.Models.Article

@{
    ViewData["Title"] = "Create";
}

<div style="text-align:center;">
    <h1>Write a Smurticle✍</h1>
    <hr />
</div>

<div class="container">
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="row">

            <div class="col-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="GenreId" class="control-label"></label>
                    <select id="genres" asp-for="GenreId" class="form-control"></select>
                    <span asp-validation-for="GenreId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Image" class="control-label">Select Image (Optional)</label>
                    <input type="file" id="articleImage"
                           name="articleImage" />
                </div>

                <div class="form-group">
                    <input type="submit" style="width:100%" value="Post Smurticle! 📢" class="btn btn-primary" />
                </div>
            </div>

            <div class="col-8">
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $.get("/Genres", (genres) => {
                for (let i = 0; i < genres.length; i++) {
                    $("#genres").append(new Option(genres[i].name, genres[i].id))
                }
            });
            
        });
    </script>
}
