﻿@model eCommerce.Models.Article
@using System.Globalization;

@{
    ViewData["Title"] = "Details";
    var comments = Model.Comments.OrderByDescending(comment => comment.CreationDate);
    List<eCommerce.Models.Article> suggestedArticles = ViewBag.SuggestedArticles;
}

<style>
    .article-title {
        font-family: "Lucida Console", Monaco, monospace;
        margin-bottom: 5px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .article-meta {
        color: #9fbfe7;
        font-family: "Lucida Console", Monaco, monospace;
    }

    .article-all-meta {
        border-bottom: solid;
        padding-bottom: 20px;
        border-bottom-width: 1px;
        border-color: #9fbfe7;
        margin-bottom: 25px;
    }

    .article-content {
        white-space: pre-wrap;
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 18px;

        @*Multi Column*@
        column-count: 2;
        column-gap: 40px;
        column-rule-style: solid;
        column-rule-width: 1px;
    }

    .comment-content {
        font-size: 17px;
    }

    .comment-footer {
        font-size: 10px;
    }

    .editCommentSection {
        font-size: 10px;
    }

    .comment-blockquote {
        border-left: solid;
        padding-left: 10px;
        border-color: #8080806b;
    }
</style>


<center>
    <div class="row">
        <div class="col-md-9">
            @if (Model.Image == null)
            {
                <img width="100%" height="450px" src="~/images/genres/@(Model.Genre.Name + ".png")" />
            }
            else
            {
                <img width="100%" height="450px" src="data:image/png;base64, @Convert.ToBase64String(Model.Image.ImageData, Base64FormattingOptions.InsertLineBreaks)" alt="Red dot" />
            }
            <h1 class="article-title">@Html.DisplayFor(model => model.Title)</h1>

            <div class="row article-all-meta">
                <div class="col">
                    <h6 class="article-meta">By: @Html.DisplayFor(model => model.Author.FirstName) @Html.DisplayFor(model => model.Author.LastName)</h6>
                </div>

                <div class="col">
                    <h6 class="article-meta">@Html.DisplayFor(model => model.Genre.Name)</h6>
                </div>

                <div class="col">
                    <h6 class="article-meta">@Html.DisplayFor(model => model.CreationDate)</h6>
                </div>
            </div>

            <div class="p-2 bd-highlight text-wrapper article-content">@Model.Content</div>
        </div>

        <div style="padding-left: 3px" class="col">
            
            <h2 style="font-family: DifiqueMenre;"> Suggested Articles </h2>
            @foreach (var article in suggestedArticles)
            {
                <div style="margin:auto" class="article-details-box row align-items-center my-4">
                    <div style="margin:auto">
                        @if (article.ImageId != null)
                        {
                            <img width="70" class="article-image img-thumbnail" src="data:image/png;base64, @Convert.ToBase64String(article.Image.ImageData, Base64FormattingOptions.InsertLineBreaks)" />
                        }
                        else
                        {
                            <img width="70" class="article-image img-thumbnail" alt="@article.Genre.Name image" src="~/images/genres/@(article.Genre.Name + ".png")" />
                        }
                    </div>
                    <div class="article-details col">
                        <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" style="text-decoration: none;"><h3>@article.Title</h3></a>
                        <div class="article-small-details row mx-auto">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <div class="mx-2">@article.Author.FirstName @article.Author.LastName</div>
                            <div class="mx-2">@article.Genre.Name</div>
                            <div class="mx-2">@article.CreationDate.ToString("m", CultureInfo.CreateSpecificCulture("en-US"))</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</center>




<br />
<br />
<br />
<div>
    <button id="addCommentLink"
            href="#"
            data-toggle="modal"
            data-target="#postCommentModal"
            type="button"
            class="btn btn-light">
        Comment
    </button>

    @if (this.User.Claims.ToList()[0].Value == Model.Author.Username)
    {
        <span id="editArticle">
            |
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </span>
    }

</div>
<br />
<br />
<br />
@foreach (var item in comments)
{
    <blockquote class="blockquote comment-blockquote">
        <p class="mb-0 comment-content">@item.Content</p>
        <footer class="blockquote-footer comment-footer">@item.Commenter.FirstName @item.Commenter.LastName, <cite>@item.CreationDate</cite></footer>

        @if (this.User.Claims.ToList()[0].Value == item.Commenter.Username)
        {

            <aside class="editCommentSection" data-commenterId="@item.CommenterUserName">
                <a class="editCommentLink"
                   href="#"
                   data-id="@item.Id"
                   data-content="@item.Content"
                   data-toggle="modal"
                   data-target="#editCommentModal"
                   onclick="setEditSelectedComment(this)">
                    Edit
                </a> |
                <a class="deleteCommentLink"
                   href="#"
                   data-id="@item.Id"
                   data-toggle="modal"
                   data-target="#deleteCommentModal"
                   onclick="setDeleteSelectedComment(this)">
                    Delete
                </a>
            </aside>
        }
    </blockquote>

    <br />
}

<!-- Post New Comment Modal -->
<div class="modal fade" id="postCommentModal" tabindex="-1" role="dialog" aria-labelledby="postCommentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postCommentLabel">Leave a comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="postCommentContent" class="commentContent" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btnPostComment" type="button" class="btn btn-primary">Post</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Comment Modal -->
<div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="editCommentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCommentLabel">Edit comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="editCommentContent" class="commentContent" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btnEditComment" type="button" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Comment Modal -->
<div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCommentLabel">Delete comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this comment?
            </div>
            <div class="modal-footer">
                <button id="btnCancelEditComment" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btnDeleteComment" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // --- Functions ---
        const getMyUsername = () => "@Context.User.Claims.FirstOrDefault(c => c.Type == "Username")?.Value";

        let commentIdToEdit = null;
        let commentIdToDelete = null;

        const postComment = (content) => {
            const username = getMyUsername();
            const comment = {
                content: content,
                CommenterUserName: username,
                articleId: @Model.Id
            };
            $.ajax({
                url: "/Comments/Create",
                type: "post",
                dataType: "json",
                contentType: "application/json",
                success: () => {
                    $('#postCommentModal').modal('hide');
                    location.reload(true);
                },
                data: JSON.stringify(comment)
            });
        }

        const setOnPostComment = () => {
            $("#btnPostComment").click(() => {
                postComment($("#postCommentContent").val());
            });
        };

        const editComment = (id, content) => {
            const comment = {
                id: id,
                content: content
            };
            $.ajax({
                url: "/Comments/Edit",
                type: "post",
                dataType: "json",
                contentType: "application/json",
                success: () => {
                    $('#editCommentModal').modal('hide');
                    location.reload(true);
                },
                data: JSON.stringify(comment)
            });
        }

        const setEditSelectedComment = (commentElement) => {
            commentIdToEdit = parseInt(commentElement.dataset.id);
            $("#editCommentContent").val(commentElement.dataset.content)
        };

        const setOnEditComment = () => {
            $("#btnEditComment").click(() => {
                editComment(commentIdToEdit, $("#editCommentContent").val());
            });
        }

        const setUpdateCommentVisibility = () => {
            const myUsername = getMyUsername();
            const isAdmin = @Context.User.IsInRole("Admin").ToString().ToLower();
            const comments = $(".editCommentSection");
            $.each(comments, (index, comment) => {
                const commenterId = comment.getAttribute("data-commenterId");
                if (!isAdmin && commenterId != myUsername) {
                    comment.setAttribute("hidden", "true")
                }
            });
        }

        const setDeleteSelectedComment = (commentElement) => {
            commentIdToDelete = parseInt(commentElement.dataset.id);
        }

        const deleteComment = (commentId) => {
            const id = {
                id: commentId
            }

            $.ajax({
                url: "/Comments/Delete",
                type: "post",
                contentType: "application/json",
                contentType: "application/json",
                success: () => {
                    $('#deleteCommentModal').modal('hide');
                    location.reload(true);
                },
                data: JSON.stringify(id)
            });
        }

        const setOnDeleteComment = () => {
            $("#btnDeleteComment").click(() => {
                deleteComment(commentIdToDelete);
            });
        }

        const setEditArticleVisibility = () => {
            const myUsername = getMyUsername();
            const isAdmin = @Context.User.IsInRole("Admin").ToString().ToLower();
            const authorUsername = "@Model.AuthorUserName";
            if (!isAdmin && authorUsername != myUsername) {
                $("#editArticle").hide();
            }
        }

        // --- END Functions ---

        setOnPostComment();
        setOnEditComment();
        setOnDeleteComment();
        setEditArticleVisibility();

    </script>
}