﻿@model IEnumerable<eCommerce.Models.Article>
@using System.Globalization;

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .smurf-phrase {
        font-size: 30px;
        text-align: center;
        font-family: DifiqueMenre;
        color: #0096dd;
    }

    .lower-navbar-genres {
        display: flex;
        justify-content: center;
    }
</style>


<nav class="lower-navbar">
    <div class="lower-navbar-genres">
        @{
            foreach (eCommerce.Models.Genre genre in ViewBag.Genres)
            {
                <a class="p-2" asp-controller="Genres" asp-action="Details" asp-route-id="@genre.Id">@genre.Name</a>
            }
        }
     </div>
</nav>

<div class="row">
    <div class="col">
        <video style="background-color: black !important;" width="100%" height="400px" loop autoplay>
            <source src="../images/smurf.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video>
        <p class="smurf-phrase">Smurf our site! 📘</p>
    </div>
    <!-- Leaflet scripts -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>

    <!-- This is where the map will be -->
    <div class="col">
        <div id="mapDiv" style="width: 60vh; height: 60vh"></div>
        <h1 style="font-family: DifiqueMenre;">Our Smurf Reporters</h1>
    </div>
</div>


<div>
    <div class="recent-article-boxes">
        <h1 style="font-family: DifiqueMenre;">Recent Smurticles</h1>
        @{

            foreach (var article in Model.ToList().Take(7))
            {
                <div class="article-details-box row align-items-center my-4">
                    <div>
                        @if (article.ImageId != null)
                        {
                            <img width="70" class="article-image img-thumbnail" src=@ViewBag.articleImageUrls[article.Id] />
                        }
                        else
                        {
                            <img width="70" class="article-image img-thumbnail" alt="@article.Genre.Name image" src="~/images/genres/@(article.Genre.Name + ".png")" />
                        }
                    </div>
                    <div class="article-details col">
                        <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" style="text-decoration: none;"><h3>@article.Title</h3></a>
                        <div class="article-small-details row mx-auto">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <div class="mx-2">@article.Author.FirstName @article.Author.LastName</div>
                            <div class="mx-2">@article.Genre.Name</div>
                            <div class="mx-2">@article.CreationDate.ToString("m", CultureInfo.CreateSpecificCulture("en-US"))</div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section scripts {
    <section class="scripts">
        <script>

            // initialize map
            map = L.map('mapDiv');

            // set map tiles source
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
                maxZoom: 18,
            }).addTo(map);

            // Get the maps data from the controller, in JSON format
            var reporters = @Html.Raw(Json.Serialize(ViewBag.Users));

            // Using the JQuery "each" selector to iterate through the Maps list from the controller and drop marker pins
            $.each(reporters, function (i, reporter) {

                $.ajax('https://nominatim.openstreetmap.org/search?format=json&q=' + reporter.address)
                    .done(function (addressDetails) {
                        // position we will use later
                        var lat = addressDetails[0].lat;
                        var lon = addressDetails[0].lon;
                        // add marker to the map
                        marker = L.marker([lat, lon]).addTo(map);
                        // add popup to the marker
                        marker.bindPopup("<b>" + reporter.firstName + " " + reporter.lastName + "</b><br />" + reporter.address);
                    })
            })
            $.ajax('https://nominatim.openstreetmap.org/search?format=json&q=israel')
                .done(function (addressDetails) {
                    map.setView([addressDetails[0].lat, addressDetails[0].lon], 7);
                })

        </script>
    </section>
}