﻿@model IEnumerable<eCommerce.Models.Article>
@using System.Globalization;

@{
    ViewData["Title"] = "Your Articles";
}


<h1 style="font-family: DifiqueMenre; color: #008fc6;">Your Smurticles</h1>

<p>
    @if (this.User.IsInRole("Reporter"))
    {
        <a asp-action="Create">Post a new article</a>
    }
</p>

@{
    foreach (var article in Model.ToList())
    {
    <div class="article-details-box row align-items-center my-4">
        <div>
            @if (article.ImageId != null)
            {
                <img width="70" class="article-image img-thumbnail" src="data:image/png;base64, @Convert.ToBase64String(article.Image.ImageData, Base64FormattingOptions.InsertLineBreaks)" />
            }
            else
            {
                <img width="70" class="article-image img-thumbnail" alt="@article.Genre.Name image" src="~/images/genres/@(article.Genre.Name + ".png")" />
            }
        </div>
        <div class="article-details col">
            <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" style="text-decoration: none;"><h3>@article.Title</h3></a>
            <div class="article-small-details row mx-auto">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <div class="mx-2">@article.Author.FirstName @article.Author.LastName</div>
                <div class="mx-2">@article.Genre.Name</div>
                <div class="mx-2">@article.CreationDate.ToString("m", CultureInfo.CreateSpecificCulture("en-US"))</div>
            </div>
        </div>

        <a style="margin-right: 5px" asp-action="Edit" asp-route-id="@article.Id">Edit</a>
        |
        <a id="delete-link"
           style="margin-left: 5px"
           href="#"
           data-article='{"id": @Html.DisplayFor(modelItem => article.Id), "title":  "@Html.DisplayFor(modelItem => article.Title)"}'
           data-toggle="modal"
           data-target="#deleteModal">
            Delete
        </a>
    </div>
    }
}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteArticleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteArticleLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <span id="deletedArticleTitle"></span>?
            </div>
            <div class="modal-footer">
                <button id="btnCancelDelete" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btnConfirmDelete" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let selectedArticleId = null;

        // --- Functions ---
        const handleDeleteOnClick = () => {
            $(document).on("click", "#delete-link", () => {
                const article = $("#delete-link").data("article");
                selectedArticleId = article.id;
                $("#deletedArticleTitle").text(article.title);
            });
        };

        const handleDeleteModalCancel = () => {
            $("#btnCancelDelete").click(() => {
                selectedArticleId = null;
            });
        };

        const deleteArticle = (articleId) => {
            const article = {
                id: articleId
            }

            $.ajax({
                url: "/Articles/Delete",
                type: "post",
                dataType: "json",
                contentType: "application/json",
                success: () => {
                    $('#deleteModal').modal('hide');
                    location.reload(true);
                },
                data: JSON.stringify(article)
            });
        };

        const setOnConfirmDelete = () => {
            $("#btnConfirmDelete").click(() => {
                deleteArticle(selectedArticleId);
            });
        };

        // --- END Functions ---

        handleDeleteOnClick();
        handleDeleteModalCancel();
        setOnConfirmDelete();


    </script>
}