﻿@model IEnumerable<eCommerce.Models.Article>
@using System.Globalization;

@{
    ViewData["Title"] = "Search Results";
}

<h1>
    Search Results
</h1>

<h4>
    @if (Model.Count() == 0)
    {
        <span>No</span>
    }
    Smurticles found for "@ViewBag.SearchTerm" by
    @if (ViewBag.ReporterName == null)
    {
        <span>all authors</span>
    }
    else
    {
        <span>@ViewBag.ReporterName</span>
    }
    in
    @if (ViewBag.Genre == null)
    {
        <span>all genres</span>
    }
    else
    {
        <span>@ViewBag.Genre</span>
    }
</h4>

<table class="table">
    <tbody>
        @foreach (var article in Model)
        {
            <div class="article-details-box row align-items-center my-4">
                <div>
                    @if (article.ImageId != null)
                    {
                        <img width="70" class="article-image img-thumbnail" src=@ViewBag.articleImageUrls[article.Id] />
                    }
                    else
                    {
                        <img width="70" class="article-image img-thumbnail" alt="@article.Genre.Name image" src="~/images/genres/@(article.Genre.Name + ".png")" />
                    }
                </div>
                <div class="article-details col">
                    <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" style="text-decoration: none;"><h3>@article.Title</h3></a>
                    <div class="article-small-details row mx-auto">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <div class="mx-2">@article.Author.FirstName @article.Author.LastName</div>
                        <div class="mx-2">@article.Genre.Name</div>
                        <div class="mx-2">@article.CreationDate.ToString("m", CultureInfo.CreateSpecificCulture("en-US"))</div>
                    </div>
                </div>
            </div>
        }


    </tbody>
</table>