﻿@model IEnumerable<eCommerce.Models.User>

@{
    ViewData["Title"] = "Index";
}
<style>
    .bar {
        fill: steelblue;
    }

    .highlight {
        fill: orange;
    }

    .title {
        margin-bottom: 20px;
    }
</style>

<script src="~/lib/d3/d3.min.js"></script>
<center>
    <svg id="usersArticles" width="400" height="300"> </svg>
    <svg id="piechart" width="250" height="200"> </svg>
    <svg id="barchart" width="400" height="300"> </svg>
</center>

<div class="jumbotron" style="padding: 2rem 2rem;">
    <div class="container">

        <h4>Find a smurf</h4>

        <form asp-action="Search">
            <div class="row">

                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="background: #92c6ff;">First Name</label>
                        </div>
                        <input name="firstName" type="text" class="form-control" placeholder="Smurfette..." />
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="background: #92c6ff;">Last Name</label>
                        </div>
                        <input name="lastName" type="text" class="form-control" placeholder="Smurtle" />
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" typeof="number" style="background: #92c6ff;">Min Age</label>
                        </div>
                        <select class="custom-select" id="min-age" name="minAge">
                            <option value="@null" selected>Irrelevant</option>
                            @for (int i = 0; i <= 150; i++)
                            {
                                <option value="@i">@i</option>

                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" typeof="number" style="background: #92c6ff;">Max Age</label>
                        </div>
                        <select class="custom-select" id="max-age" name="maxAge">
                            <option value="@null" selected>Irrelevant</option>
                            @for (int i = 1; i <= 150; i++)
                            {
                                <option value="@i">@i</option>

                            }
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="background: #92c6ff;" for="roleSelect">Role</label>
                        </div>
                        <select class="custom-select" id="roleSelect" name="role">
                            <option value="@null" selected>All</option>
                            @foreach (var role in ViewBag.Roles)
                            {
                                <option value="@role">@role</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-2">
                    <p class="text-danger" id="search-smurf-error-message" style="padding: 1rem;"></p>
                </div>

                <div class="col-2">
                    <button class="btn btn-primary" style="width: 100%;" id="search-smurfs" type="submit">
                        Search
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>



<!-- Delete User Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCommentLabel">Delete comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this comment?
            </div>
            <div class="modal-footer">
                <button id="btnCancelEditComment" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btnDeleteUser" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<h1 style="font-family: DifiqueMenre; color: #008fc6;">All Users</h1>
<p>
    <a asp-action="Create">Create New User</a>
</p>
<center>
    <div class="row">
        @foreach (var user in Model)
        {

            <div class="card" style="width: 300px; margin-right: 30px; margin-bottom: 30px">
                <img class="card-img-top" height="150" src="~/images/user.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@user.Username</h5>
                    <p class="card-text">@user.FirstName @user.LastName</p>
                    <p class="card-text">@user.UserRole</p>

                    <center>
                        <div style="padding-left: 35px;" class="row">
                            <a asp-action="Details" asp-route-id="@user.Username" style="margin-right: 3px;" class="btn btn-primary">Details</a>
                            <a asp-action="Edit" asp-route-id="@user.Username" style="margin-right: 3px;" class="btn btn-primary">Edit</a>
                            <a href="#"
                               data-id="@user.Username"
                               data-toggle="modal"
                               data-target="#deleteUserModal"
                               onclick="setDeleteSelectedComment(this)"
                               style="margin-right: 3px;" class="btn btn-danger">Delete</a>
                        </div>
                    </center>
                </div>
            </div>

        }
    </div>
</center>


<br />



<script>

    function buildPieChart() {

        let dataAsString = "@ViewBag.studentsJson".replaceAll("&quot;", '"');
        let originalData = JSON.parse(dataAsString);
        let finalData = [];
        console.log(dataAsString);
        let adminRoleCount = 0;
        let reporterRoleCount = 0;
        let readerRoleCount = 0;
            for (let userIndex in originalData) {
                var user = originalData[userIndex];
            if (user.UserRole === 0) {
                adminRoleCount++;
            } else if (user.UserRole === 1) {
                reporterRoleCount++;
            } else {
                readerRoleCount++;
            }

        }
            originalData = finalData;

            let svg = d3.select("#piechart"),
             width = svg.attr("width"),
             height = svg.attr("height"),
             radius = Math.min(width, height) / 2;

        let g = svg.append("g")
             .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        let color = d3.scaleOrdinal(['#4daf4a', '#377eb8', '#ff7f00', '#984ea3', '#e41a1c']);

        let pie = d3.pie().value(function (d) {
             return d.percent;
         });

        let path = d3.arc()
             .outerRadius(radius - 10)
             .innerRadius(100);

        let label = d3.arc()
             .outerRadius(radius)
             .innerRadius(radius - 80);

        console.log(adminRoleCount);
        console.log(reporterRoleCount);
        console.log(readerRoleCount);
        let data = [{
                userRole: "Admin",
             percent: adminRoleCount
         },  {
                 userRole: "Reader",
                 percent: readerRoleCount
            }, {
                userRole: "Reporter",
                percent: reporterRoleCount
            }];

        let arc = g.selectAll(".arc")
             .data(pie(data))
             .enter().append("g")
             .attr("class", "arc");

         arc.append("path")
             .attr("d", path)
             .attr("fill", function (d) { return color(d.data.userRole); });

         console.log(arc)

        arc.append("text")
            .attr("transform", function (d) {
                return "translate(" + label.centroid(d) + ")";
            })
            .attr("x", -40)
            .attr("y", 0)
            .attr("style", "z-index: 10000; color: red;")
            .text(function (d) { return d.data.userRole + ": " + d.data.percent; });

        svg.append("g")
            .attr("transform", "translate(" + (width / 2 - 120) + "," + 20 + ")")
            .append("text")
            .attr("class", "title");


    }

    function buildBarChart() {
        //mouseover event handler function
        function onMouseOver(d, i) {
            d3.select(this).attr('class', 'highlight');
            d3.select(this)
                .transition()     // adds animation
                .duration(400)
                .attr('width', x.bandwidth() + 5)
                .attr("y", function (d) { return y(d.value) - 10; })
                .attr("height", function (d) { return height - y(d.value) + 10; });

            g.append("text")
                .attr('class', 'val')
                .attr('x', function () {
                    return x(d.year);
                })
                .attr('y', function () {
                    return y(d.value) - 15;
                })
                .text(function () {
                    return [d.value];  // Value of the text
                });
        }

        //mouseout event handler function
        function onMouseOut(d, i) {
            // use the text label class to remove label on mouseout
            d3.select(this).attr('class', 'bar');
            d3.select(this)
                .transition()     // adds animation
                .duration(400)
                .attr('width', x.bandwidth())
                .attr("y", function (d) { return y(d.value); })
                .attr("height", function (d) { return height - y(d.value); });

            d3.selectAll('.val')
                .remove()
        }
        let dataAsString = "@ViewBag.articlesJson".replaceAll("&quot;", '"');
        let genresAsString = "@ViewBag.genresJson".replaceAll("&quot;", '"');
        let genresAsJson = JSON.parse(genresAsString);
        console.log(genresAsString);
        let dataAsJson = JSON.parse(dataAsString);

        let countPerGenere = {};
        for (let currArticle of dataAsJson) {
            let articleGenre = currArticle.GenreId;
            if (countPerGenere[articleGenre] === undefined) {
                countPerGenere[articleGenre] = 0;
            }

            countPerGenere[articleGenre]++;
        }
        console.log("data as string: " + dataAsString);
        console.log("result: " + JSON.stringify(countPerGenere));

        let data = [];
        for (let currGenere of genresAsJson) {
            let genereName = currGenere.Name;
            let genereCount = countPerGenere[currGenere.Id];
            data.push({
                genre: genereName,
                value: genereCount
            });
        }

        console.log(JSON.stringify(data));

        let svg = d3.select("#barchart"),
            margin = 200,
            width = svg.attr("width") - margin,
            height = svg.attr("height") - margin;

        svg.append("text")
            .attr("transform", "translate(100,0)")
            .attr("x", 50)
            .attr("y", 50)
            .attr("font-size", "24px");

        let x = d3.scaleBand().range([0, width]).padding(0.4),
            y = d3.scaleLinear().range([height, 0]);

        let g = svg.append("g")
            .attr("transform", "translate(" + 100 + "," + 100 + ")");


        x.domain(data.map(function (d) { return d.genre; }));
        y.domain([0, d3.max(data, function (d) { return d.value; })]);

        g.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x))
            .append("text")
            .attr("y", height - 250)
            .attr("x", width - 100)
            .attr("text-anchor", "end")
            .attr("stroke", "black");

        g.append("g")
            .call(d3.axisLeft(y).tickFormat(function (d) {
                return d;
            }).ticks(5))
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 40)
            .attr("dy", "-5.1em")
            .attr("text-anchor", "end")
            .attr("stroke", "black")
            .attr("font-size", "15")
            .text("Number of articles");

        g.selectAll(".bar")
            .data(data)
            .enter().append("rect")
            .attr("class", "bar")
            .on("mouseover", onMouseOver) //Add listener for the mouseover event
            .on("mouseout", onMouseOut)   //Add listener for the mouseout event
            .attr("x", function (d) { return x(d.genre); })
            .attr("y", function (d) { return y(d.value); })
            .attr("width", x.bandwidth())
            .transition()
            .ease(d3.easeLinear)
            .duration(400)
            .delay(function (d, i) {
                return i * 50;
            })
            .attr("height", function (d) { return height - y(d.value); });

    }

    function buildSecondBarChart() {
        //mouseover event handler function
        function onMouseOver(d, i) {
            d3.select(this).attr('class', 'highlight');
            d3.select(this)
                .transition()     // adds animation
                .duration(400)
                .attr('width', x.bandwidth() + 5)
                .attr("y", function (d) { return y(d.value) - 10; })
                .attr("height", function (d) { return height - y(d.value) + 10; });

            g.append("text")
                .attr('class', 'val')
                .attr('x', function () {
                    return x(d.year);
                })
                .attr('y', function () {
                    return y(d.value) - 15;
                })
                .text(function () {
                    return [d.value];  // Value of the text
                });
        }

        //mouseout event handler function
        function onMouseOut(d, i) {
            // use the text label class to remove label on mouseout
            d3.select(this).attr('class', 'bar');
            d3.select(this)
                .transition()     // adds animation
                .duration(400)
                .attr('width', x.bandwidth())
                .attr("y", function (d) { return y(d.value); })
                .attr("height", function (d) { return height - y(d.value); });

            d3.selectAll('.val')
                .remove()
        }

         let articlesAsString = "@ViewBag.articlesJson".replaceAll("&quot;", '"');
    let articlesAsJson = JSON.parse(articlesAsString);
    let usersArticleCount = {};
    for (let currArticle of articlesAsJson) {
        let authorUsername = currArticle?.Author?.Username;
        if (usersArticleCount[authorUsername] === undefined) {
            usersArticleCount[authorUsername] = 0;
        }

        usersArticleCount[authorUsername]++;
    }

    let data = [];
    Object.keys(usersArticleCount).map(key =>
        data.push({
            username: key,
            value: usersArticleCount[key]
        })
    )

        let svg = d3.select("#usersArticles"),
            margin = 200,
            width = svg.attr("width") - margin,
            height = svg.attr("height") - margin;

        svg.append("text")
            .attr("transform", "translate(100,0)")
            .attr("x", 50)
            .attr("y", 50)
            .attr("font-size", "24px");

        let x = d3.scaleBand().range([0, width]).padding(0.4),
            y = d3.scaleLinear().range([height, 0]);

        let g = svg.append("g")
            .attr("transform", "translate(" + 100 + "," + 100 + ")");


        x.domain(data.map(function (d) { return d.username; }));
        y.domain([0, d3.max(data, function (d) { return d.value; })]);

        g.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x))
            .append("text")
            .attr("y", height - 250)
            .attr("x", width - 100)
            .attr("text-anchor", "end")
            .attr("stroke", "black");

        g.append("g")
            .call(d3.axisLeft(y).tickFormat(function (d) {
                return d;
            }).ticks(5))
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 40)
            .attr("dy", "-5.1em")
            .attr("text-anchor", "end")
            .attr("stroke", "black")
            .attr("font-size", "15")
            .text("Number of articles");

        g.selectAll(".bar")
            .data(data)
            .enter().append("rect")
            .attr("class", "bar")
            .on("mouseover", onMouseOver) //Add listener for the mouseover event
            .on("mouseout", onMouseOut)   //Add listener for the mouseout event
            .attr("x", function (d) { return x(d.username); })
            .attr("y", function (d) { return y(d.value); })
            .attr("width", x.bandwidth())
            .transition()
            .ease(d3.easeLinear)
            .duration(400)
            .delay(function (d, i) {
                return i * 50;
            })
            .attr("height", function (d) { return height - y(d.value); });

    }

    buildPieChart();
    buildBarChart();
    buildSecondBarChart();
</script>
@section Scripts {
    <script src="~/js/age-validation.js"></script>

    <script>
        var userIdToDelete = "";
        const setDeleteSelectedComment = (userElement) => {
            userIdToDelete = userElement.dataset.id;
            console.log("bla1 " + userIdToDelete);
        }

        const deleteUser = () => {
            const id = {
                id: userIdToDelete
            }

            console.log("deleting " + JSON.stringify(id))

            $.ajax({
                url: "/Admin/Delete?id=" + userIdToDelete,
                type: "get",
                contentType: "application/json",
                contentType: "application/json",
                success: () => {
                    $('#deleteUserModal').modal('hide');
                    location.reload(true);
                },
                data: JSON.stringify(id)
            });
        }

        $("#btnDeleteUser").click(() => {
            deleteUser();
        });

        
    </script>
}
