﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html, body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, "Playfair Display", Georgia, "Times New Roman", serif !important;
}

@font-face {
    font-family: "DifiqueMenre";
    src: url('../fonts/DifiqueMenre.ttf');
}

@font-face {
    font-family: "LemonJelly";
    src: url('../fonts/LemonJelly.ttf');
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    cursor: url("../images/Ble Glass Normall Select.cur"), auto;
    margin-left: 10vw !important;
    margin-right: 10vw !important;
}

button, a {
    cursor: url("../images/Blue Glass Link Select.cur"), auto !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.headlinee {
    padding-top: 0px;
    margin-left: 5px;
    color: #23bcee !important;
    font-size: 4rem;
    text-decoration: none;
    display: inline-block;
    font-family: LemonJelly;
    text-decoration: none !important;
}

.upper-navbar {
    width: 100%;
    z-index: 100;
    height: 5vh;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

    .upper-navbar .left {
        margin-left: 10px;
        height: 100%;
        padding-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid;
    }

    .upper-navbar .middle {
        flex-grow: 2;
        margin-left: 20px;
        margin-right: 10px;
    }

    .upper-navbar .right {
        margin-right: 10px;
        height: 100%;
        padding-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid;
    }

.lower-navbar-genres {
    width: 100%;
    z-index: 100;
    height: 5vh;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.more-features-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none !important;
}

.nav-logo {
    display: flex;
    justify-content: center;
    margin-top: -2vh;
}

.article-image {
    height: 20vh !important;
    width: 20vh !important;
}

.article-small-details {
    color: grey;
}

.more-features-footer {
    padding-top: 2vh;
}