﻿@model eCommerce.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "_UsersLayout";
    var incorrectCredentialsMessage = "";
    if (ViewData["FailedLogin"] != null && ViewData["FailedLogin"].Equals(true))
    {
        incorrectCredentialsMessage = "Incorrect username or password";
    }
}

<h3 class="login-heading mb-4">Login</h3>
<form asp-action="Login">
    <div class="form-label-group">
        <input asp-for="Username" class="form-control login-username-input" placeholder="Username" />
        <label asp-for="Username" class="control-label"></label>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-label-group">
        <input asp-for="Password" type="password" class="form-control login-password-input" placeholder="Password" />
        <label asp-for="Password" class="control-label"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <span class="text-danger incorrect-credentials-message">@incorrectCredentialsMessage</span>

    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Log in</button>

    <div class="text-center">
        <a class="small" asp-action="Register">New to Smurfs News? Register now!</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/login.js"></script>
}
