﻿@model IEnumerable<eCommerce.Models.User>
@{
    ViewData["Title"] = "Reporters locations";

}

<!-- Leaflet scripts -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>

<!-- This is where the map will be -->
<div id="mapDiv" style="width: 800px; height: 500px"></div>
@section scripts {
    <section class="scripts">
        <script>

            // initialize map
            map = L.map('mapDiv');

            // set map tiles source
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
                maxZoom: 18,
            }).addTo(map);

            // Get the maps data from the controller, in JSON format
            var reporters = @Html.Raw(Json.Serialize(Model));

            // Using the JQuery "each" selector to iterate through the Maps list from the controller and drop marker pins
            $.each(reporters, function (i, reporter) {

                $.ajax('https://nominatim.openstreetmap.org/search?format=json&q=' + reporter.address)
                    .done(function (addressDetails) {
                        // position we will use later
                        var lat = addressDetails[0].lat;
                        var lon = addressDetails[0].lon;
                        // add marker to the map
                        marker = L.marker([lat, lon]).addTo(map);
                        // add popup to the marker
                        marker.bindPopup("<b>" + reporter.firstName + " " + reporter.lastName + "</b><br />" + reporter.address);
                    })
            })
            $.ajax('https://nominatim.openstreetmap.org/search?format=json&q=israel')
                .done(function (addressDetails) {
                    map.setView([addressDetails[0].lat, addressDetails[0].lon], 7);
                })

        </script>
    </section>
}