﻿@model eCommerce.Models.User

@{
    ViewData["Title"] = "Register";
    Layout = "_UsersLayout";
}

<h3 class="login-heading mb-4">Register</h3>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-label-group">
        <input asp-for="Username" class="form-control input-register-username" placeholder="Username" />
        <label asp-for="Username" class="control-label"></label>
        <span class="text-danger username-unavailable-message"></span>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-label-group">
        <input asp-for="Password" class="form-control" placeholder="Password" />
        <label asp-for="Password" class="control-label"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

     <div class="form-label-group">
        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
        <label asp-for="FirstName" class="control-label"></label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-label-group">
        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
        <label asp-for="LastName" class="control-label"></label>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-label-group">
        <input asp-for="BirthDate" class="form-control register-birthdate-input" />
        <label asp-for="BirthDate" class="control-label"></label>
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">
        Register
    </button>

    <div class="text-center">
        <a class="small" asp-action="Login">Already registered? Login now!</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/register.js"></script>
}
