﻿@model IEnumerable<eCommerce.Models.User>

@{
    ViewData["Title"] = "Search Results";
}

<h1>
    Search Results
</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    <a asp-controller="Admin" asp-action="Edit" asp-route-id="@item.Username">Edit</a> |
                    <a asp-controller="Admin" asp-action="Details" asp-route-id="@item.Username">Details</a> |
                    <a asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Username">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>